/*
file:         app_plugin/application_data/_settings/custom_styles_dark.css
file-id:      581e60aa-86bb-4a0c-9e6d-267e1c6f532d
project:      app_plugin
project-id:   dfd94fa7-1f2f-4784-901f-dcba7ffc5ef9
description:  This file contains the folder application settings. |
    The folder is part of the `app_plugin` project.
*/

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    background-color: #333333;
    color: #ffffff;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    border-bottom: 2px solid #ffffff; /* Add a line under h1 */
    padding-bottom: 3px; /* Add some space between the text and the line */
}

h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    border-bottom: 2px solid #ffffff; /* Add a line under h2 */
    padding-bottom: 2px; /* Add some space between the text and the line */
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ol {
    list-style: decimal;
    margin-left: 20px;
}

.code {
    background-color: #444444;
    margin: 20px;
    padding: 10px;
    font-family: monospace;
    border: 1px solid #555555;
    border-radius: 5px;
}

/* Note box */
.note {
    border-left: 5px solid #007bff;
    background-color: #333333;
    padding: 10px;
    margin: 30px 0;
    padding-left: 40px;
    position: relative;
}

.note::before {
    content: "\1F4D3"; /* Unicode for note icon */
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: 8px;
}

/* Warning box */
.warning {
    border-left: 5px solid #ff0000;
    background-color: #333333;
    padding: 10px;
    margin: 30px 0;
    padding-left: 40px;
    position: relative;
}

.warning::before {
    content: "\26A0"; /* Unicode for important icon */
    color: #ff0000;
    font-size: 20px;
    position: absolute;
    left: 6px;
    top: 8px;
}

/* Tip box */
.tip {
    border-left: 5px solid #28a745;
    background-color: #333333;
    padding: 10px;
    margin: 30px 0;
    padding-left: 40px;
    position: relative;
}

.tip::before {
    content: "\1F4A1"; /* Unicode for light bulb icon */
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: 8px;
}

/* Important box */
.important {
    border-left: 5px solid #ffc107;
    background-color: #333333;
    padding: 10px;
    margin: 30px 0;
    padding-left: 40px;
    position: relative;
}

.important::before {
    content: "\0021"; /* Unicode for warning icon */
    color: #ffc107;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 14px;
    top: 8px;
}